.App {
  text-align: center;
  background-color: rgb(255, 255, 255);
}
.layout-container {
  display: flex;
  flex-direction: column;
}

.rec {
  width: 1100px; /* set width to 600px */
  background-color: rgba(0, 117, 213, 0.475);
  margin: 0 auto; /* center element horizontally */
  margin-bottom: 20px;
  /* other styles */
}

.rec-left {
  display: flex; /* enable flexbox */
  flex-direction: column; /* stack items vertically */
  align-items: center; /* center items horizontally */
}

.champion-container {
  display: flex; /* enable flexbox */
  align-items: center; /* center items horizontally */
}

.champion-spells-runes-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.items-container {
  margin-top: 10px;
}


.spells-runes {
  display: flex; /* enable flexbox */
  align-items: center; /* center items vertically */
  justify-content: space-between; /* distribute items horizontally */
}

.rec:hover {
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}
