.App {}

.App::before {
  content: "";
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, black, rgba(0, 0, 0, 0.906));
  /* color: #f2f2f2; */
}

.layout-container {
  display: flex;
  flex-direction: column;
}

.columnis-11 {
  position: relative;
  width: 350px;
  left: -510px;
  top: -80px;
}

.is-rounded {
  position: relative;
  left: -655px;
  top: 30px;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.is-rounded2 {
  position: relative;
  left: 0px;
  top: 0px;
  border-radius: 50%;
  box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
}

.leo {
  position: relative;
  left: -510px;
  top: -15px;
  width: 90px;
  font-weight: bold;


}

.hero-body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.694);
  /* decrease the opacity of the image */
}

.hero-body {
  position: relative;

  height: 325px;
}

.rec {
  position: relative;
  border-radius: 5%;
  width: 1100px;
  height: 150px;
  background-color: rgba(0, 117, 213, 0.475);
  margin: 0 auto;
  margin-bottom: 5px;
  transition: background-color 0.3s ease-in-out;
}

.rec.win:hover,
.win:active {
  background-color: rgba(0, 128, 0, 0.362);
}

.rec:hover,
.loss:active {
  background-color: rgba(255, 0, 0, 0.362);
}


.xec {
  position: relative;
  top: 55px;
  border-radius: 5%;
  left: -230px;
  width: 1100px;
  /* set width to 600px */
  height: 420px;
  background-color: rgba(0, 117, 213, 0.475);
  margin: 0 auto;
  /* center element horizontally */
  margin-bottom: 5px;
  /* other styles */
}

.move-down {
  margin-bottom: 430px;
}

h3{
  color: white;
}


.champion-container {
  transform: scale(0.75);
  position: relative;
  top: -300px;
  /* set top position to 10px */
  right: 35px;
  /* set left position to 10px */
}

.player-info {
  position: relative;
  font-weight: bold;
  top: -1085px;
  /* set top position to 10px */
  right: -230px;
  color: #f2f2f2;
  /* set left position to 10px */
}

.kda {
  position: relative;
  top: 21px;
  left: 130px;
  font-size: 20px;
}

/* .items-container {
  transform: scale(0.6);
  position: relative;
  align-items: left;
  top: -570px; 
  right: 200px;
} */

.items-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px;
  transform: scale(0.9);
  width: 18%;
  position: relative;
  align-items: left;
  top: -950px;
  /* set top position to 10px */
  right: -500px;
  /* set left position to 10px */
}


.players_container {
  position: relative;
  bottom: 20px;
  left: 800px;
  color: #f2f2f2;
}

.players_container img {
  height: 23px;
  width: 23px;
}


.row1{
  position: relative;
  right: 30px;
}
.row2 {
  position: relative;
  left: 130px;
  bottom: 145px;
}

/* .row1{
  display: table-column; */
/* } */



.spells {
  position: relative;
  top: -429px;
  right: -30px;
  display: block;
  transform: scale(0.7);
}

.spells img {

  display: block;
}


.runes1 {
  position: relative;
  top: -650px;
  right: -48px;
  align-items: center;
  /* center items vertically */
  justify-content: space-between;
  /* distribute items horizontally */
  transform: scale(0.24);
  margin-bottom: 0px;
  width: 50%;

}

.runes2 {
  position: relative;
  top: -775px;
  right: -105px;
  align-items: center;
  /* center items vertically */
  justify-content: space-between;
  /* distribute items horizontally */
  transform: scale(0.5);
  margin-bottom: 0px;
  width: 50%;

}

.runes2 img {
  width: 60px;
  height: 60px;
}

.runes3 {
  position: relative;
  top: -815px;
  right: -117px;
  align-items: center;
  /* center items vertically */
  justify-content: space-between;
  /* distribute items horizontally */
  transform: scale(0.5);
  margin-bottom: 0px;
  width: 50%;

}

.runes3 img {
  width: 60px;
  height: 60px;
}



.rec:hover {
  box-shadow: 2px 2px 2px rgb(0, 0, 0);
}

.win {
  background-color: rgba(0, 128, 0, 0.162);
}

.loss {
  background-color: rgba(255, 0, 0, 0.162);
}

#top-bar {
  position: relative;
  top: -50px;
  right: 60px;
  width: 130%;
  height: 50px;
  background-color: #333;
  color: #fff;
  align-items: center;
  justify-content: center;
}

#search-container {
  position: relative;
  top: 10px;
  right: -1240px;
  width: 15%;
  height: 100%;
  align-items: center;
}

#search-bar {
  position: relative;
  top: 0px;
  right: 0px;
  width: 80%;
  height: 30px;
  padding: 0px 10px;
  border: none;
  border-radius: 5px 0px 0px 5px;
}

#search-button {
  position: relative;
  top: 0px;
  right: 0px;
  width: 20%;
  height: 30px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;
}

.loading-indicator {
  position: relative;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  background: radial-gradient(circle at center, black, rgba(0, 0, 0, 0.906));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9999;
}

.load {
  position: absolute;
  top: 555px;
  right: 760px;
  font-size: xxx-large;
  color: white;
  font-weight: bolder;
}

.yuumiLoad {
  position: absolute;
  top: 190px;
  right: 650px;
}

.victory::after {
  position: relative;
  top: 50px;
  left: 2px;
  font-weight: bold;
  font-size: 10px;
  color: #f2f2f2;
  content: "VICTORY";
}

.defeat::after {
  position: relative;
  top: 50px;
  left: 2px;
  font-weight: bold;
  font-size: 10px;
  color: #f2f2f2;
  content: "DEFEAT";
}


.aboutUsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: radial-gradient(circle at center, black, rgba(0, 0, 0, 0.906));
}

.aboutUsHeading {
  color: #fff;
  font-weight: bolder;
  font-size: 36px;
  margin-bottom: 40px;
}

.aboutUsDescription {
  color: white;
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

.backButton {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 18px;
  margin-top: 20px;
}

.backButton:hover {
  background-color: #4cbc4f;
}


.test1 {
  width: 100%;
}

tbody.mainbody {
  display: table-row-group;
  vertical-align: middle;
}

.data_table thead tr {
  border-bottom: 1px dashed grey;
  border-bottom-width: 0 0 1px 20%;
}

table th{
  color: white;
}

td.champion_picture {
  padding-left: 10px;
  padding-right: 4px;
  padding-bottom: 3px;
}

.champion_picture img {
  display: table-row;
  height: 32px;
  width: 32px;
}

td.spellbox div {
  /* padding-top: 3px; */
  height: 16px;
  width: 16px;
  padding-right: 5px;
}

td.runesex div {
  height: 16px;
  width: 16px;
}

td.kdaex {
  padding-left: 5px;
  font-size: 15px;
  padding-right: 5px;
}


td.damageDealt {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 15px;
}

td.cs {
  padding-left: 1px;
  padding-right: 10px;
}

/* td.itemsList div{
  height: 50px;
  width: 50px;
} */

.itemsList img {
  height: 22px;
  width: 22px;
}

.boxTeam {
  width: 300px
}
.loading-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(-45deg, rgba(255, 65, 54, 0.7), rgba(0, 116, 217, 0.7));
  animation: pulse 1s ease-in-out infinite alternate;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.loading-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 5px;
  background-image: linear-gradient(-45deg, rgba(255, 65, 54, 0.7), rgba(0, 116, 217, 0.7));
  animation: pulse 1s ease-in-out infinite alternate;
  scale: 2;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.loading-text {
  font-size: 24px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
}

.vs-container {
  display: flex;
  align-items: center;
  color: white;
  justify-content: center;
}

.vs {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 64px;
  font-weight: bold;
}

.vs span {
  margin: 0 10px;
  animation: vsAnimation 1s ease-in-out infinite;
}

.vs span:first-child {
  animation-delay: 0.2s;
}

.vs span:last-child {
  animation-delay: 0.4s;
}

.move-it-up{
  position: relative;
  bottom: 11px;
}

@keyframes pulse {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}
@keyframes vsAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
;