@import url("https://fonts.googleapis.com/css?family=Teko:700&display=swap");


body::before {
    content: "";
    position: absolute;
    z-index: -10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    
    background: url(https://images8.alphacoders.com/685/685242.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    opacity: 80%;
  }
.container {

}
.logo {
    position: absolute;
    margin-top: -30%;
    height:auto;
    z-index: 1;
    max-width: 100%;
   
    max-height: 100%;
  }
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.7; /* Firefox */
  font-size:100%;
 
  }
.searchInput {
  position: absolute;
  opacity: 90%;
  
  margin-left: -19%;
  width: 45%;
  height:auto;
  padding: 0.9rem;
  font-size: auto;
  max-height: 100%;
  background-color: rgba(39,36,97,255);
  border-radius:95px;
  border-color: white;
  color: white;
  font-size: 120%;
  border-width: 2px;
  

  z-index: 1;
}

.searchButton {
    position: absolute;
    top: 480px;
    left: 1070px;
    width: 20px;
    height: 20px;
    padding: 0.5rem;
    font-size: auto;
    margin-right: 1rem;
    background-color: #4CAF50;
    z-index: 1;
}
.helpButton{
    position: absolute;
  
    margin-left: 45%;
    margin-top: 1%;
    background-color: transparent;
    border-color: transparent;
    color: aliceblue;
    font-weight: bolder;
    z-index: 10;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.helpButton:hover {background-color: #3e8e41}

.helpButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.ScrimButton{
    position: absolute;
   
    margin-left: 80%;
    margin-top: 1%;
    background-color: transparent;
    border-color: transparent;
    color: aliceblue;
    font-weight: bolder;
    z-index: 10;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}
.ScrimButton:hover {background-color: #3e8e41}

.ScrimButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.AboutButton{
    position: absolute;
   
    margin-left: 10%;
    margin-top: 1%;
    background-color: transparent;
    border-color: transparent;
    color: aliceblue;
    font-weight: bolder;
    z-index: 10;
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
   
}
.AboutButton:hover {background-color: #3e8e41}

.AboutButton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.square {
    position: absolute;
    top:87%;

    width: 96%; /* set width to 600px */
    height: 10%;
    background-color: rgb(65, 65, 65);
    z-index: 0;
    opacity: 100%;
    border-radius: 50px;;
    border-width: 20px;
  
   
  }
  .helpContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50%;
    background-color: radial-gradient(circle at center, black, rgba(0, 0, 0, 0.906));

   
  }
  
  .title {
    color: #fff;
    font-weight: bolder;
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .text {
    color:white ;
    font-size: 18px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .backButton {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 18px;
    margin-top: 20px;
  }
  
  .backButton:hover {
    background-color: #4cbc4f;
  }
  
  .flashingtext{
    margin: 0;
    padding-bottom: 6rem;
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
    font-family: 'Teko', sans-serif;
    font-size: 250px;
    text-transform: uppercase;
    animation: glow 2s ease-in-out infinite alternate;
    text-align: center;
    position: absolute;
    margin-top: -17%;
    height:auto;
    z-index: 1;
    max-width: 100%;
    margin-left: 6%;
    color: white;
    border-color: black;
  
    max-height: 100%;
  }
  @keyframes glow {
    from {
      text-shadow: 0 0 20px #2d9da9;
    }
    to {
      text-shadow: 0 0 30px #34b3c1, 0 0 10px #4dbbc7;
    }
  }

  .homepagebutton{
    position: absolute;
   
    margin-left: 2%;
    margin-top: 0.5%;
    background-color: transparent;
    border-color: transparent;
    color: aliceblue;
    font-weight: bolder;
    z-index: 10;
    display: inline-block;
    padding: 4px 15px;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 10px;
    box-shadow: 0 6px #999;
   
}
.homepagebutton:hover {background-color: #3e8e41}

.homepagebutton:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}